Cliente WPF/SerpientesEscaleras/Connected Services/ServidorSE/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.microsoft.com/2003/10/Serialization/Arrays" elementFormDefault="qualified" targetNamespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8081/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MessageService" />
  <xs:complexType name="ArrayOfKeyValueOfanyTypeJugadorSL_SLRbTC">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValueOfanyTypeJugadorSL_SLRbTC">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Key" nillable="true" type="xs:anyType" />
            <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MessageService" name="Value" nillable="true" type="q1:Jugador" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValueOfanyTypeJugadorSL_SLRbTC" nillable="true" type="tns:ArrayOfKeyValueOfanyTypeJugadorSL_SLRbTC" />
  <xs:complexType name="ArrayOfstring">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfstring" nillable="true" type="tns:ArrayOfstring" />
</xs:schema>