Cliente WPF/SerpientesEscaleras/Connected Services/ServidorSE/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MessageService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MessageService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8081/?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="Cuenta">
    <xs:sequence>
      <xs:element minOccurs="0" name="Contraseña" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Correo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Cuenta" nillable="true" type="tns:Cuenta" />
  <xs:complexType name="Jugador">
    <xs:sequence>
      <xs:element minOccurs="0" name="Apellidos" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Apodo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Jugador" nillable="true" type="tns:Jugador" />
  <xs:complexType name="ArrayOfFilaTablaPuntajes">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FilaTablaPuntajes" nillable="true" type="tns:FilaTablaPuntajes" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFilaTablaPuntajes" nillable="true" type="tns:ArrayOfFilaTablaPuntajes" />
  <xs:complexType name="FilaTablaPuntajes">
    <xs:sequence>
      <xs:element minOccurs="0" name="Apodo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fecha" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Puntos" type="xs:int" />
      <xs:element minOccurs="0" name="Turnos" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FilaTablaPuntajes" nillable="true" type="tns:FilaTablaPuntajes" />
  <xs:complexType name="Sala">
    <xs:sequence>
      <xs:element minOccurs="0" name="CasillasEspeciales" type="xs:boolean" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="DiccionarioJugadores" nillable="true" type="q1:ArrayOfKeyValueOfanyTypeJugadorSL_SLRbTC" />
      <xs:element minOccurs="0" name="DobleDado" type="xs:boolean" />
      <xs:element minOccurs="0" name="DobleFicha" type="xs:boolean" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumJugadores" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Sala" nillable="true" type="tns:Sala" />
  <xs:complexType name="ArrayOfSala">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Sala" nillable="true" type="tns:Sala" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSala" nillable="true" type="tns:ArrayOfSala" />
</xs:schema>