Cliente WPF/SerpientesEscaleras/Connected Services/ServidorSE/ServicioCuenta.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Servicio" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IAdministradorCuenta_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="NetTcpBinding_IAdministradorChat_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8081/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8081/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8081/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MessageService" />
      <xsd:import schemaLocation="http://localhost:8081/?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAdministradorCuenta_IniciarSesion_InputMessage">
    <wsdl:part name="parameters" element="tns:IniciarSesion" />
  </wsdl:message>
  <wsdl:message name="IAdministradorCuenta_IniciarSesion_OutputMessage">
    <wsdl:part name="parameters" element="tns:IniciarSesionResponse" />
  </wsdl:message>
  <wsdl:message name="IAdministradorCuenta_RegistrarJugador_InputMessage">
    <wsdl:part name="parameters" element="tns:RegistrarJugador" />
  </wsdl:message>
  <wsdl:message name="IAdministradorCuenta_RegistrarJugador_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegistrarJugadorResponse" />
  </wsdl:message>
  <wsdl:message name="IAdministradorCuenta_ActivarCuentaJugador_InputMessage">
    <wsdl:part name="parameters" element="tns:ActivarCuentaJugador" />
  </wsdl:message>
  <wsdl:message name="IAdministradorCuenta_ActivarCuentaJugador_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActivarCuentaJugadorResponse" />
  </wsdl:message>
  <wsdl:message name="IAdministradorCuenta_VerificarCuenta_InputMessage">
    <wsdl:part name="parameters" element="tns:VerificarCuenta" />
  </wsdl:message>
  <wsdl:message name="IAdministradorCuenta_VerificarCuenta_OutputMessage">
    <wsdl:part name="parameters" element="tns:VerificarCuentaResponse" />
  </wsdl:message>
  <wsdl:message name="IAdministradorCuenta_VerificarApodo_InputMessage">
    <wsdl:part name="parameters" element="tns:VerificarApodo" />
  </wsdl:message>
  <wsdl:message name="IAdministradorCuenta_VerificarApodo_OutputMessage">
    <wsdl:part name="parameters" element="tns:VerificarApodoResponse" />
  </wsdl:message>
  <wsdl:message name="IAdministradorCuenta_EnviarCorreo_InputMessage">
    <wsdl:part name="parameters" element="tns:EnviarCorreo" />
  </wsdl:message>
  <wsdl:message name="IAdministradorCuenta_EnviarCorreo_OutputMessage">
    <wsdl:part name="parameters" element="tns:EnviarCorreoResponse" />
  </wsdl:message>
  <wsdl:message name="IAdministradorCuenta_ConsultarPuntajesPropios_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarPuntajesPropios" />
  </wsdl:message>
  <wsdl:message name="IAdministradorCuenta_ConsultarPuntajesPropios_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarPuntajesPropiosResponse" />
  </wsdl:message>
  <wsdl:message name="IAdministradorCuenta_ConsultarMejoresPuntajes_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarMejoresPuntajes" />
  </wsdl:message>
  <wsdl:message name="IAdministradorCuenta_ConsultarMejoresPuntajes_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarMejoresPuntajesResponse" />
  </wsdl:message>
  <wsdl:message name="IAdministradorChat_CrearSala_InputMessage">
    <wsdl:part name="parameters" element="tns:CrearSala" />
  </wsdl:message>
  <wsdl:message name="IAdministradorChat_CrearSala_OutputMessage">
    <wsdl:part name="parameters" element="tns:CrearSalaResponse" />
  </wsdl:message>
  <wsdl:message name="IAdministradorChat_ConsultarSalasDisponibles_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarSalasDisponibles" />
  </wsdl:message>
  <wsdl:message name="IAdministradorChat_ConsultarSalasDisponibles_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarSalasDisponiblesResponse" />
  </wsdl:message>
  <wsdl:message name="IAdministradorChat_ConsultarJugadoresSala_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarJugadoresSala" />
  </wsdl:message>
  <wsdl:message name="IAdministradorChat_ConsultarJugadoresSala_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarJugadoresSalaResponse" />
  </wsdl:message>
  <wsdl:message name="IAdministradorChat_UnirseSala_InputMessage">
    <wsdl:part name="parameters" element="tns:UnirseSala" />
  </wsdl:message>
  <wsdl:message name="IAdministradorChat_ValidarCupoSala_InputMessage">
    <wsdl:part name="parameters" element="tns:ValidarCupoSala" />
  </wsdl:message>
  <wsdl:message name="IAdministradorChat_ValidarCupoSala_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidarCupoSalaResponse" />
  </wsdl:message>
  <wsdl:message name="IAdministradorChat_EnviarMensaje_InputMessage">
    <wsdl:part name="parameters" element="tns:EnviarMensaje" />
  </wsdl:message>
  <wsdl:message name="IAdministradorChat_SalirChat_InputMessage">
    <wsdl:part name="parameters" element="tns:SalirChat" />
  </wsdl:message>
  <wsdl:message name="IAdministradorChat_RecibirMensaje_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:RecibirMensaje" />
  </wsdl:message>
  <wsdl:message name="IAdministradorChat_RecibirMensajeMiembro_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:RecibirMensajeMiembro" />
  </wsdl:message>
  <wsdl:portType name="IAdministradorCuenta">
    <wsdl:operation name="IniciarSesion">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdministradorCuenta/IniciarSesion" message="tns:IAdministradorCuenta_IniciarSesion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdministradorCuenta/IniciarSesionResponse" message="tns:IAdministradorCuenta_IniciarSesion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RegistrarJugador">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdministradorCuenta/RegistrarJugador" message="tns:IAdministradorCuenta_RegistrarJugador_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdministradorCuenta/RegistrarJugadorResponse" message="tns:IAdministradorCuenta_RegistrarJugador_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ActivarCuentaJugador">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdministradorCuenta/ActivarCuentaJugador" message="tns:IAdministradorCuenta_ActivarCuentaJugador_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdministradorCuenta/ActivarCuentaJugadorResponse" message="tns:IAdministradorCuenta_ActivarCuentaJugador_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="VerificarCuenta">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdministradorCuenta/VerificarCuenta" message="tns:IAdministradorCuenta_VerificarCuenta_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdministradorCuenta/VerificarCuentaResponse" message="tns:IAdministradorCuenta_VerificarCuenta_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="VerificarApodo">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdministradorCuenta/VerificarApodo" message="tns:IAdministradorCuenta_VerificarApodo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdministradorCuenta/VerificarApodoResponse" message="tns:IAdministradorCuenta_VerificarApodo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EnviarCorreo">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdministradorCuenta/EnviarCorreo" message="tns:IAdministradorCuenta_EnviarCorreo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdministradorCuenta/EnviarCorreoResponse" message="tns:IAdministradorCuenta_EnviarCorreo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarPuntajesPropios">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdministradorCuenta/ConsultarPuntajesPropios" message="tns:IAdministradorCuenta_ConsultarPuntajesPropios_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdministradorCuenta/ConsultarPuntajesPropiosResponse" message="tns:IAdministradorCuenta_ConsultarPuntajesPropios_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarMejoresPuntajes">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdministradorCuenta/ConsultarMejoresPuntajes" message="tns:IAdministradorCuenta_ConsultarMejoresPuntajes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdministradorCuenta/ConsultarMejoresPuntajesResponse" message="tns:IAdministradorCuenta_ConsultarMejoresPuntajes_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IAdministradorChat">
    <wsdl:operation name="CrearSala">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdministradorChat/CrearSala" message="tns:IAdministradorChat_CrearSala_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdministradorChat/CrearSalaResponse" message="tns:IAdministradorChat_CrearSala_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarSalasDisponibles">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdministradorChat/ConsultarSalasDisponibles" message="tns:IAdministradorChat_ConsultarSalasDisponibles_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdministradorChat/ConsultarSalasDisponiblesResponse" message="tns:IAdministradorChat_ConsultarSalasDisponibles_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarJugadoresSala">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdministradorChat/ConsultarJugadoresSala" message="tns:IAdministradorChat_ConsultarJugadoresSala_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdministradorChat/ConsultarJugadoresSalaResponse" message="tns:IAdministradorChat_ConsultarJugadoresSala_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UnirseSala">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdministradorChat/UnirseSala" message="tns:IAdministradorChat_UnirseSala_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ValidarCupoSala">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdministradorChat/ValidarCupoSala" message="tns:IAdministradorChat_ValidarCupoSala_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdministradorChat/ValidarCupoSalaResponse" message="tns:IAdministradorChat_ValidarCupoSala_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EnviarMensaje">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdministradorChat/EnviarMensaje" message="tns:IAdministradorChat_EnviarMensaje_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SalirChat">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdministradorChat/SalirChat" message="tns:IAdministradorChat_SalirChat_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RecibirMensaje">
      <wsdl:output wsaw:Action="http://tempuri.org/IAdministradorChat/RecibirMensaje" message="tns:IAdministradorChat_RecibirMensaje_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="RecibirMensajeMiembro">
      <wsdl:output wsaw:Action="http://tempuri.org/IAdministradorChat/RecibirMensajeMiembro" message="tns:IAdministradorChat_RecibirMensajeMiembro_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IAdministradorCuenta" type="tns:IAdministradorCuenta">
    <wsp:PolicyReference URI="#NetTcpBinding_IAdministradorCuenta_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="IniciarSesion">
      <soap12:operation soapAction="http://tempuri.org/IAdministradorCuenta/IniciarSesion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegistrarJugador">
      <soap12:operation soapAction="http://tempuri.org/IAdministradorCuenta/RegistrarJugador" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActivarCuentaJugador">
      <soap12:operation soapAction="http://tempuri.org/IAdministradorCuenta/ActivarCuentaJugador" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VerificarCuenta">
      <soap12:operation soapAction="http://tempuri.org/IAdministradorCuenta/VerificarCuenta" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VerificarApodo">
      <soap12:operation soapAction="http://tempuri.org/IAdministradorCuenta/VerificarApodo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnviarCorreo">
      <soap12:operation soapAction="http://tempuri.org/IAdministradorCuenta/EnviarCorreo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarPuntajesPropios">
      <soap12:operation soapAction="http://tempuri.org/IAdministradorCuenta/ConsultarPuntajesPropios" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarMejoresPuntajes">
      <soap12:operation soapAction="http://tempuri.org/IAdministradorCuenta/ConsultarMejoresPuntajes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NetTcpBinding_IAdministradorChat" type="tns:IAdministradorChat">
    <wsp:PolicyReference URI="#NetTcpBinding_IAdministradorChat_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="CrearSala">
      <soap12:operation soapAction="http://tempuri.org/IAdministradorChat/CrearSala" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarSalasDisponibles">
      <soap12:operation soapAction="http://tempuri.org/IAdministradorChat/ConsultarSalasDisponibles" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarJugadoresSala">
      <soap12:operation soapAction="http://tempuri.org/IAdministradorChat/ConsultarJugadoresSala" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UnirseSala">
      <soap12:operation soapAction="http://tempuri.org/IAdministradorChat/UnirseSala" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="ValidarCupoSala">
      <soap12:operation soapAction="http://tempuri.org/IAdministradorChat/ValidarCupoSala" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnviarMensaje">
      <soap12:operation soapAction="http://tempuri.org/IAdministradorChat/EnviarMensaje" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="SalirChat">
      <soap12:operation soapAction="http://tempuri.org/IAdministradorChat/SalirChat" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="RecibirMensaje">
      <soap12:operation soapAction="http://tempuri.org/IAdministradorChat/RecibirMensaje" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecibirMensajeMiembro">
      <soap12:operation soapAction="http://tempuri.org/IAdministradorChat/RecibirMensajeMiembro" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Servicio">
    <wsdl:port name="NetTcpBinding_IAdministradorCuenta" binding="tns:NetTcpBinding_IAdministradorCuenta">
      <soap12:address location="net.tcp://localhost:8091/CalculatorService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8091/CalculatorService</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>USUARIO-HP\Otros</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
    <wsdl:port name="NetTcpBinding_IAdministradorChat" binding="tns:NetTcpBinding_IAdministradorChat">
      <soap12:address location="net.tcp://localhost:8091/CalculatorService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8091/CalculatorService</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>USUARIO-HP\Otros</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>