Servidor WCF/MessageServiceTests1/Connected Services/ServiceReference1/ServicioSistema.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServicioSistema" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IAdministradorCuenta_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="NetTcpBinding_IAdministradorMultijugador_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8081/ServidorSerpientesEscaleras?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8081/ServidorSerpientesEscaleras?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8081/ServidorSerpientesEscaleras?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MessageService" />
      <xsd:import schemaLocation="http://localhost:8081/ServidorSerpientesEscaleras?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAdministradorCuenta_IniciarSesion_InputMessage">
    <wsdl:part name="parameters" element="tns:IniciarSesion" />
  </wsdl:message>
  <wsdl:message name="IAdministradorCuenta_IniciarSesion_OutputMessage">
    <wsdl:part name="parameters" element="tns:IniciarSesionResponse" />
  </wsdl:message>
  <wsdl:message name="IAdministradorCuenta_RegistrarJugador_InputMessage">
    <wsdl:part name="parameters" element="tns:RegistrarJugador" />
  </wsdl:message>
  <wsdl:message name="IAdministradorCuenta_RegistrarJugador_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegistrarJugadorResponse" />
  </wsdl:message>
  <wsdl:message name="IAdministradorCuenta_ActivarCuentaJugador_InputMessage">
    <wsdl:part name="parameters" element="tns:ActivarCuentaJugador" />
  </wsdl:message>
  <wsdl:message name="IAdministradorCuenta_ActivarCuentaJugador_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActivarCuentaJugadorResponse" />
  </wsdl:message>
  <wsdl:message name="IAdministradorCuenta_VerificarCuenta_InputMessage">
    <wsdl:part name="parameters" element="tns:VerificarCuenta" />
  </wsdl:message>
  <wsdl:message name="IAdministradorCuenta_VerificarCuenta_OutputMessage">
    <wsdl:part name="parameters" element="tns:VerificarCuentaResponse" />
  </wsdl:message>
  <wsdl:message name="IAdministradorCuenta_VerificarApodo_InputMessage">
    <wsdl:part name="parameters" element="tns:VerificarApodo" />
  </wsdl:message>
  <wsdl:message name="IAdministradorCuenta_VerificarApodo_OutputMessage">
    <wsdl:part name="parameters" element="tns:VerificarApodoResponse" />
  </wsdl:message>
  <wsdl:message name="IAdministradorCuenta_EnviarCorreo_InputMessage">
    <wsdl:part name="parameters" element="tns:EnviarCorreo" />
  </wsdl:message>
  <wsdl:message name="IAdministradorCuenta_EnviarCorreo_OutputMessage">
    <wsdl:part name="parameters" element="tns:EnviarCorreoResponse" />
  </wsdl:message>
  <wsdl:message name="IAdministradorCuenta_ConsultarPuntajesPropios_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarPuntajesPropios" />
  </wsdl:message>
  <wsdl:message name="IAdministradorCuenta_ConsultarPuntajesPropios_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarPuntajesPropiosResponse" />
  </wsdl:message>
  <wsdl:message name="IAdministradorCuenta_ConsultarMejoresPuntajes_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarMejoresPuntajes" />
  </wsdl:message>
  <wsdl:message name="IAdministradorCuenta_ConsultarMejoresPuntajes_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarMejoresPuntajesResponse" />
  </wsdl:message>
  <wsdl:message name="IAdministradorMultijugador_CrearSala_InputMessage">
    <wsdl:part name="parameters" element="tns:CrearSala" />
  </wsdl:message>
  <wsdl:message name="IAdministradorMultijugador_CrearSala_OutputMessage">
    <wsdl:part name="parameters" element="tns:CrearSalaResponse" />
  </wsdl:message>
  <wsdl:message name="IAdministradorMultijugador_ConsultarSalasDisponibles_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarSalasDisponibles" />
  </wsdl:message>
  <wsdl:message name="IAdministradorMultijugador_ConsultarSalasDisponibles_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarSalasDisponiblesResponse" />
  </wsdl:message>
  <wsdl:message name="IAdministradorMultijugador_ConsultarJugadoresSala_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarJugadoresSala" />
  </wsdl:message>
  <wsdl:message name="IAdministradorMultijugador_ConsultarJugadoresSala_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarJugadoresSalaResponse" />
  </wsdl:message>
  <wsdl:message name="IAdministradorMultijugador_UnirseSala_InputMessage">
    <wsdl:part name="parameters" element="tns:UnirseSala" />
  </wsdl:message>
  <wsdl:message name="IAdministradorMultijugador_ValidarSala_InputMessage">
    <wsdl:part name="parameters" element="tns:ValidarSala" />
  </wsdl:message>
  <wsdl:message name="IAdministradorMultijugador_ValidarSala_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidarSalaResponse" />
  </wsdl:message>
  <wsdl:message name="IAdministradorMultijugador_EnviarMensaje_InputMessage">
    <wsdl:part name="parameters" element="tns:EnviarMensaje" />
  </wsdl:message>
  <wsdl:message name="IAdministradorMultijugador_SalirChat_InputMessage">
    <wsdl:part name="parameters" element="tns:SalirChat" />
  </wsdl:message>
  <wsdl:message name="IAdministradorMultijugador_IniciarJuego_InputMessage">
    <wsdl:part name="parameters" element="tns:IniciarJuego" />
  </wsdl:message>
  <wsdl:message name="IAdministradorMultijugador_UnirseJuego_InputMessage">
    <wsdl:part name="parameters" element="tns:UnirseJuego" />
  </wsdl:message>
  <wsdl:message name="IAdministradorMultijugador_EnviarMensajeJuego_InputMessage">
    <wsdl:part name="parameters" element="tns:EnviarMensajeJuego" />
  </wsdl:message>
  <wsdl:message name="IAdministradorMultijugador_SalirJuego_InputMessage">
    <wsdl:part name="parameters" element="tns:SalirJuego" />
  </wsdl:message>
  <wsdl:message name="IAdministradorMultijugador_ObtenerFondo_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerFondo" />
  </wsdl:message>
  <wsdl:message name="IAdministradorMultijugador_ObtenerFondo_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerFondoResponse" />
  </wsdl:message>
  <wsdl:message name="IAdministradorMultijugador_AsignarFicha_InputMessage">
    <wsdl:part name="parameters" element="tns:AsignarFicha" />
  </wsdl:message>
  <wsdl:message name="IAdministradorMultijugador_RecibirTiro_InputMessage">
    <wsdl:part name="parameters" element="tns:RecibirTiro" />
  </wsdl:message>
  <wsdl:message name="IAdministradorMultijugador_RecibirMensajeLobby_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:RecibirMensajeLobby" />
  </wsdl:message>
  <wsdl:message name="IAdministradorMultijugador_RecibirMensajeMiembroLobby_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:RecibirMensajeMiembroLobby" />
  </wsdl:message>
  <wsdl:message name="IAdministradorMultijugador_EntrarJuego_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:EntrarJuego" />
  </wsdl:message>
  <wsdl:message name="IAdministradorMultijugador_RecibirMensaje_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:RecibirMensaje" />
  </wsdl:message>
  <wsdl:message name="IAdministradorMultijugador_RecibirMensajeMiembro_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:RecibirMensajeMiembro" />
  </wsdl:message>
  <wsdl:message name="IAdministradorMultijugador_ElegirFicha_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:ElegirFicha" />
  </wsdl:message>
  <wsdl:message name="IAdministradorMultijugador_MostrarFichaElegida_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:MostrarFichaElegida" />
  </wsdl:message>
  <wsdl:message name="IAdministradorMultijugador_Tirar_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:Tirar" />
  </wsdl:message>
  <wsdl:message name="IAdministradorMultijugador_MostrarTiro_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:MostrarTiro" />
  </wsdl:message>
  <wsdl:portType name="IAdministradorCuenta">
    <wsdl:operation name="IniciarSesion">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdministradorCuenta/IniciarSesion" message="tns:IAdministradorCuenta_IniciarSesion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdministradorCuenta/IniciarSesionResponse" message="tns:IAdministradorCuenta_IniciarSesion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RegistrarJugador">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdministradorCuenta/RegistrarJugador" message="tns:IAdministradorCuenta_RegistrarJugador_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdministradorCuenta/RegistrarJugadorResponse" message="tns:IAdministradorCuenta_RegistrarJugador_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ActivarCuentaJugador">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdministradorCuenta/ActivarCuentaJugador" message="tns:IAdministradorCuenta_ActivarCuentaJugador_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdministradorCuenta/ActivarCuentaJugadorResponse" message="tns:IAdministradorCuenta_ActivarCuentaJugador_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="VerificarCuenta">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdministradorCuenta/VerificarCuenta" message="tns:IAdministradorCuenta_VerificarCuenta_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdministradorCuenta/VerificarCuentaResponse" message="tns:IAdministradorCuenta_VerificarCuenta_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="VerificarApodo">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdministradorCuenta/VerificarApodo" message="tns:IAdministradorCuenta_VerificarApodo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdministradorCuenta/VerificarApodoResponse" message="tns:IAdministradorCuenta_VerificarApodo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EnviarCorreo">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdministradorCuenta/EnviarCorreo" message="tns:IAdministradorCuenta_EnviarCorreo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdministradorCuenta/EnviarCorreoResponse" message="tns:IAdministradorCuenta_EnviarCorreo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarPuntajesPropios">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdministradorCuenta/ConsultarPuntajesPropios" message="tns:IAdministradorCuenta_ConsultarPuntajesPropios_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdministradorCuenta/ConsultarPuntajesPropiosResponse" message="tns:IAdministradorCuenta_ConsultarPuntajesPropios_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarMejoresPuntajes">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdministradorCuenta/ConsultarMejoresPuntajes" message="tns:IAdministradorCuenta_ConsultarMejoresPuntajes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdministradorCuenta/ConsultarMejoresPuntajesResponse" message="tns:IAdministradorCuenta_ConsultarMejoresPuntajes_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IAdministradorMultijugador">
    <wsdl:operation name="CrearSala">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdministradorMultijugador/CrearSala" message="tns:IAdministradorMultijugador_CrearSala_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdministradorMultijugador/CrearSalaResponse" message="tns:IAdministradorMultijugador_CrearSala_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarSalasDisponibles">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdministradorMultijugador/ConsultarSalasDisponibles" message="tns:IAdministradorMultijugador_ConsultarSalasDisponibles_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdministradorMultijugador/ConsultarSalasDisponiblesResponse" message="tns:IAdministradorMultijugador_ConsultarSalasDisponibles_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarJugadoresSala">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdministradorMultijugador/ConsultarJugadoresSala" message="tns:IAdministradorMultijugador_ConsultarJugadoresSala_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdministradorMultijugador/ConsultarJugadoresSalaResponse" message="tns:IAdministradorMultijugador_ConsultarJugadoresSala_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UnirseSala">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdministradorMultijugador/UnirseSala" message="tns:IAdministradorMultijugador_UnirseSala_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ValidarSala">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdministradorMultijugador/ValidarSala" message="tns:IAdministradorMultijugador_ValidarSala_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdministradorMultijugador/ValidarSalaResponse" message="tns:IAdministradorMultijugador_ValidarSala_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EnviarMensaje">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdministradorMultijugador/EnviarMensaje" message="tns:IAdministradorMultijugador_EnviarMensaje_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SalirChat">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdministradorMultijugador/SalirChat" message="tns:IAdministradorMultijugador_SalirChat_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IniciarJuego">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdministradorMultijugador/IniciarJuego" message="tns:IAdministradorMultijugador_IniciarJuego_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UnirseJuego">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdministradorMultijugador/UnirseJuego" message="tns:IAdministradorMultijugador_UnirseJuego_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EnviarMensajeJuego">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdministradorMultijugador/EnviarMensajeJuego" message="tns:IAdministradorMultijugador_EnviarMensajeJuego_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SalirJuego">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdministradorMultijugador/SalirJuego" message="tns:IAdministradorMultijugador_SalirJuego_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerFondo">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdministradorMultijugador/ObtenerFondo" message="tns:IAdministradorMultijugador_ObtenerFondo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdministradorMultijugador/ObtenerFondoResponse" message="tns:IAdministradorMultijugador_ObtenerFondo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AsignarFicha">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdministradorMultijugador/AsignarFicha" message="tns:IAdministradorMultijugador_AsignarFicha_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RecibirTiro">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdministradorMultijugador/RecibirTiro" message="tns:IAdministradorMultijugador_RecibirTiro_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RecibirMensajeLobby">
      <wsdl:output wsaw:Action="http://tempuri.org/IAdministradorMultijugador/RecibirMensajeLobby" message="tns:IAdministradorMultijugador_RecibirMensajeLobby_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="RecibirMensajeMiembroLobby">
      <wsdl:output wsaw:Action="http://tempuri.org/IAdministradorMultijugador/RecibirMensajeMiembroLobby" message="tns:IAdministradorMultijugador_RecibirMensajeMiembroLobby_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="EntrarJuego">
      <wsdl:output wsaw:Action="http://tempuri.org/IAdministradorMultijugador/EntrarJuego" message="tns:IAdministradorMultijugador_EntrarJuego_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="RecibirMensaje">
      <wsdl:output wsaw:Action="http://tempuri.org/IAdministradorMultijugador/RecibirMensaje" message="tns:IAdministradorMultijugador_RecibirMensaje_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="RecibirMensajeMiembro">
      <wsdl:output wsaw:Action="http://tempuri.org/IAdministradorMultijugador/RecibirMensajeMiembro" message="tns:IAdministradorMultijugador_RecibirMensajeMiembro_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="ElegirFicha">
      <wsdl:output wsaw:Action="http://tempuri.org/IAdministradorMultijugador/ElegirFicha" message="tns:IAdministradorMultijugador_ElegirFicha_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="MostrarFichaElegida">
      <wsdl:output wsaw:Action="http://tempuri.org/IAdministradorMultijugador/MostrarFichaElegida" message="tns:IAdministradorMultijugador_MostrarFichaElegida_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="Tirar">
      <wsdl:output wsaw:Action="http://tempuri.org/IAdministradorMultijugador/Tirar" message="tns:IAdministradorMultijugador_Tirar_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="MostrarTiro">
      <wsdl:output wsaw:Action="http://tempuri.org/IAdministradorMultijugador/MostrarTiro" message="tns:IAdministradorMultijugador_MostrarTiro_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IAdministradorCuenta" type="tns:IAdministradorCuenta">
    <wsp:PolicyReference URI="#NetTcpBinding_IAdministradorCuenta_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="IniciarSesion">
      <soap12:operation soapAction="http://tempuri.org/IAdministradorCuenta/IniciarSesion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegistrarJugador">
      <soap12:operation soapAction="http://tempuri.org/IAdministradorCuenta/RegistrarJugador" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActivarCuentaJugador">
      <soap12:operation soapAction="http://tempuri.org/IAdministradorCuenta/ActivarCuentaJugador" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VerificarCuenta">
      <soap12:operation soapAction="http://tempuri.org/IAdministradorCuenta/VerificarCuenta" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VerificarApodo">
      <soap12:operation soapAction="http://tempuri.org/IAdministradorCuenta/VerificarApodo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnviarCorreo">
      <soap12:operation soapAction="http://tempuri.org/IAdministradorCuenta/EnviarCorreo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarPuntajesPropios">
      <soap12:operation soapAction="http://tempuri.org/IAdministradorCuenta/ConsultarPuntajesPropios" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarMejoresPuntajes">
      <soap12:operation soapAction="http://tempuri.org/IAdministradorCuenta/ConsultarMejoresPuntajes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NetTcpBinding_IAdministradorMultijugador" type="tns:IAdministradorMultijugador">
    <wsp:PolicyReference URI="#NetTcpBinding_IAdministradorMultijugador_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="CrearSala">
      <soap12:operation soapAction="http://tempuri.org/IAdministradorMultijugador/CrearSala" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarSalasDisponibles">
      <soap12:operation soapAction="http://tempuri.org/IAdministradorMultijugador/ConsultarSalasDisponibles" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarJugadoresSala">
      <soap12:operation soapAction="http://tempuri.org/IAdministradorMultijugador/ConsultarJugadoresSala" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UnirseSala">
      <soap12:operation soapAction="http://tempuri.org/IAdministradorMultijugador/UnirseSala" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="ValidarSala">
      <soap12:operation soapAction="http://tempuri.org/IAdministradorMultijugador/ValidarSala" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnviarMensaje">
      <soap12:operation soapAction="http://tempuri.org/IAdministradorMultijugador/EnviarMensaje" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="SalirChat">
      <soap12:operation soapAction="http://tempuri.org/IAdministradorMultijugador/SalirChat" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="IniciarJuego">
      <soap12:operation soapAction="http://tempuri.org/IAdministradorMultijugador/IniciarJuego" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="UnirseJuego">
      <soap12:operation soapAction="http://tempuri.org/IAdministradorMultijugador/UnirseJuego" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="EnviarMensajeJuego">
      <soap12:operation soapAction="http://tempuri.org/IAdministradorMultijugador/EnviarMensajeJuego" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="SalirJuego">
      <soap12:operation soapAction="http://tempuri.org/IAdministradorMultijugador/SalirJuego" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="ObtenerFondo">
      <soap12:operation soapAction="http://tempuri.org/IAdministradorMultijugador/ObtenerFondo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AsignarFicha">
      <soap12:operation soapAction="http://tempuri.org/IAdministradorMultijugador/AsignarFicha" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="RecibirTiro">
      <soap12:operation soapAction="http://tempuri.org/IAdministradorMultijugador/RecibirTiro" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="RecibirMensajeLobby">
      <soap12:operation soapAction="http://tempuri.org/IAdministradorMultijugador/RecibirMensajeLobby" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecibirMensajeMiembroLobby">
      <soap12:operation soapAction="http://tempuri.org/IAdministradorMultijugador/RecibirMensajeMiembroLobby" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EntrarJuego">
      <soap12:operation soapAction="http://tempuri.org/IAdministradorMultijugador/EntrarJuego" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecibirMensaje">
      <soap12:operation soapAction="http://tempuri.org/IAdministradorMultijugador/RecibirMensaje" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecibirMensajeMiembro">
      <soap12:operation soapAction="http://tempuri.org/IAdministradorMultijugador/RecibirMensajeMiembro" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ElegirFicha">
      <soap12:operation soapAction="http://tempuri.org/IAdministradorMultijugador/ElegirFicha" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MostrarFichaElegida">
      <soap12:operation soapAction="http://tempuri.org/IAdministradorMultijugador/MostrarFichaElegida" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Tirar">
      <soap12:operation soapAction="http://tempuri.org/IAdministradorMultijugador/Tirar" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MostrarTiro">
      <soap12:operation soapAction="http://tempuri.org/IAdministradorMultijugador/MostrarTiro" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicioSistema">
    <wsdl:port name="NetTcpBinding_IAdministradorCuenta" binding="tns:NetTcpBinding_IAdministradorCuenta">
      <soap12:address location="net.tcp://localhost:8091/ServidorSerpientesEscaleras/EndponitCuenta" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8091/ServidorSerpientesEscaleras/EndponitCuenta</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>DESKTOP-GHTTJL7\irvin</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
    <wsdl:port name="NetTcpBinding_IAdministradorMultijugador" binding="tns:NetTcpBinding_IAdministradorMultijugador">
      <soap12:address location="net.tcp://localhost:8091/ServidorSerpientesEscaleras/EndpointMultijugador" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8091/ServidorSerpientesEscaleras/EndpointMultijugador</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>DESKTOP-GHTTJL7\irvin</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>