Cliente WPF/SerpientesEscaleras/Connected Services/ServiceReference2/item3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DAO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DAO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfPuntuacion">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Puntuacion" nillable="true" type="tns:Puntuacion" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPuntuacion" nillable="true" type="tns:ArrayOfPuntuacion" />
  <xs:complexType name="Puntuacion">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Jugador" nillable="true" type="tns:Jugador" />
      <xs:element minOccurs="0" name="Partida" nillable="true" type="tns:Partida" />
      <xs:element minOccurs="0" name="puntos" type="xs:short" />
      <xs:element minOccurs="0" name="turnos" type="xs:short" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Puntuacion" nillable="true" type="tns:Puntuacion" />
  <xs:complexType name="Jugador">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cuenta" nillable="true" type="tns:Cuenta" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Puntuacion" nillable="true" type="tns:ArrayOfPuntuacion" />
      <xs:element minOccurs="0" name="apellidos" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="apodo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Jugador" nillable="true" type="tns:Jugador" />
  <xs:complexType name="Cuenta">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Jugador" nillable="true" type="tns:Jugador" />
      <xs:element minOccurs="0" name="correo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="salt" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="validada" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Cuenta" nillable="true" type="tns:Cuenta" />
  <xs:complexType name="Partida">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Puntuacion" nillable="true" type="tns:ArrayOfPuntuacion" />
      <xs:element minOccurs="0" name="Tablero" nillable="true" type="tns:Tablero" />
      <xs:element minOccurs="0" name="num_jugadores" type="xs:short" />
      <xs:element minOccurs="0" name="tiempo_fin" type="xs:dateTime" />
      <xs:element minOccurs="0" name="tiempo_inicio" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Partida" nillable="true" type="tns:Partida" />
  <xs:complexType name="Tablero">
    <xs:sequence>
      <xs:element minOccurs="0" name="Casilla" nillable="true" type="tns:ArrayOfCasilla" />
      <xs:element minOccurs="0" name="Ficha" nillable="true" type="tns:ArrayOfFicha" />
      <xs:element minOccurs="0" name="FondoTablero" nillable="true" type="tns:ArrayOfFondoTablero" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Partida" nillable="true" type="tns:Partida" />
      <xs:element minOccurs="0" name="cuadricula" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="no_casillas" type="xs:short" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Tablero" nillable="true" type="tns:Tablero" />
  <xs:complexType name="ArrayOfCasilla">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Casilla" nillable="true" type="tns:Casilla" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCasilla" nillable="true" type="tns:ArrayOfCasilla" />
  <xs:complexType name="Casilla">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Portal" nillable="true" type="tns:Portal" />
      <xs:element minOccurs="0" name="Tablero" nillable="true" type="tns:Tablero" />
      <xs:element minOccurs="0" name="TableroId" type="xs:int" />
      <xs:element minOccurs="0" name="especial" type="xs:boolean" />
      <xs:element minOccurs="0" name="numero" type="xs:short" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Casilla" nillable="true" type="tns:Casilla" />
  <xs:complexType name="Portal">
    <xs:sequence>
      <xs:element minOccurs="0" name="Casilla" nillable="true" type="tns:Casilla" />
      <xs:element minOccurs="0" name="Id" type="xs:short" />
      <xs:element minOccurs="0" name="color" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="imagen" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Portal" nillable="true" type="tns:Portal" />
  <xs:complexType name="ArrayOfFicha">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Ficha" nillable="true" type="tns:Ficha" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFicha" nillable="true" type="tns:ArrayOfFicha" />
  <xs:complexType name="Ficha">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Tablero" nillable="true" type="tns:Tablero" />
      <xs:element minOccurs="0" name="imagen" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Ficha" nillable="true" type="tns:Ficha" />
  <xs:complexType name="ArrayOfFondoTablero">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FondoTablero" nillable="true" type="tns:FondoTablero" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFondoTablero" nillable="true" type="tns:ArrayOfFondoTablero" />
  <xs:complexType name="FondoTablero">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Tablero" nillable="true" type="tns:Tablero" />
      <xs:element minOccurs="0" name="imagen" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FondoTablero" nillable="true" type="tns:FondoTablero" />
</xs:schema>