Cliente WPF/SerpientesEscaleras/Connected Services/ServiceReference2/ServicioCuenta.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServicioCuenta" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IAdministradorCuenta_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://192.168.43.212:8081/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://192.168.43.212:8081/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://192.168.43.212:8081/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MessageService" />
      <xsd:import schemaLocation="http://192.168.43.212:8081/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/DAO" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAdministradorCuenta_IniciarSesion_InputMessage">
    <wsdl:part name="parameters" element="tns:IniciarSesion" />
  </wsdl:message>
  <wsdl:message name="IAdministradorCuenta_IniciarSesion_OutputMessage">
    <wsdl:part name="parameters" element="tns:IniciarSesionResponse" />
  </wsdl:message>
  <wsdl:message name="IAdministradorCuenta_RegistrarJugador_InputMessage">
    <wsdl:part name="parameters" element="tns:RegistrarJugador" />
  </wsdl:message>
  <wsdl:message name="IAdministradorCuenta_RegistrarJugador_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegistrarJugadorResponse" />
  </wsdl:message>
  <wsdl:message name="IAdministradorCuenta_ActivarCuentaJugador_InputMessage">
    <wsdl:part name="parameters" element="tns:ActivarCuentaJugador" />
  </wsdl:message>
  <wsdl:message name="IAdministradorCuenta_ActivarCuentaJugador_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActivarCuentaJugadorResponse" />
  </wsdl:message>
  <wsdl:message name="IAdministradorCuenta_VerificarCuenta_InputMessage">
    <wsdl:part name="parameters" element="tns:VerificarCuenta" />
  </wsdl:message>
  <wsdl:message name="IAdministradorCuenta_VerificarCuenta_OutputMessage">
    <wsdl:part name="parameters" element="tns:VerificarCuentaResponse" />
  </wsdl:message>
  <wsdl:message name="IAdministradorCuenta_EnviarCorreo_InputMessage">
    <wsdl:part name="parameters" element="tns:EnviarCorreo" />
  </wsdl:message>
  <wsdl:message name="IAdministradorCuenta_EnviarCorreo_OutputMessage">
    <wsdl:part name="parameters" element="tns:EnviarCorreoResponse" />
  </wsdl:message>
  <wsdl:message name="IAdministradorCuenta_ConsultarPuntajesPropios_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarPuntajesPropios" />
  </wsdl:message>
  <wsdl:message name="IAdministradorCuenta_ConsultarPuntajesPropios_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarPuntajesPropiosResponse" />
  </wsdl:message>
  <wsdl:message name="IAdministradorCuenta_ConsultarMejoresPuntajes_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarMejoresPuntajes" />
  </wsdl:message>
  <wsdl:message name="IAdministradorCuenta_ConsultarMejoresPuntajes_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarMejoresPuntajesResponse" />
  </wsdl:message>
  <wsdl:portType name="IAdministradorCuenta">
    <wsdl:operation name="IniciarSesion">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdministradorCuenta/IniciarSesion" message="tns:IAdministradorCuenta_IniciarSesion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdministradorCuenta/IniciarSesionResponse" message="tns:IAdministradorCuenta_IniciarSesion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RegistrarJugador">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdministradorCuenta/RegistrarJugador" message="tns:IAdministradorCuenta_RegistrarJugador_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdministradorCuenta/RegistrarJugadorResponse" message="tns:IAdministradorCuenta_RegistrarJugador_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ActivarCuentaJugador">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdministradorCuenta/ActivarCuentaJugador" message="tns:IAdministradorCuenta_ActivarCuentaJugador_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdministradorCuenta/ActivarCuentaJugadorResponse" message="tns:IAdministradorCuenta_ActivarCuentaJugador_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="VerificarCuenta">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdministradorCuenta/VerificarCuenta" message="tns:IAdministradorCuenta_VerificarCuenta_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdministradorCuenta/VerificarCuentaResponse" message="tns:IAdministradorCuenta_VerificarCuenta_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EnviarCorreo">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdministradorCuenta/EnviarCorreo" message="tns:IAdministradorCuenta_EnviarCorreo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdministradorCuenta/EnviarCorreoResponse" message="tns:IAdministradorCuenta_EnviarCorreo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarPuntajesPropios">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdministradorCuenta/ConsultarPuntajesPropios" message="tns:IAdministradorCuenta_ConsultarPuntajesPropios_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdministradorCuenta/ConsultarPuntajesPropiosResponse" message="tns:IAdministradorCuenta_ConsultarPuntajesPropios_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarMejoresPuntajes">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdministradorCuenta/ConsultarMejoresPuntajes" message="tns:IAdministradorCuenta_ConsultarMejoresPuntajes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdministradorCuenta/ConsultarMejoresPuntajesResponse" message="tns:IAdministradorCuenta_ConsultarMejoresPuntajes_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IAdministradorCuenta" type="tns:IAdministradorCuenta">
    <wsp:PolicyReference URI="#NetTcpBinding_IAdministradorCuenta_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="IniciarSesion">
      <soap12:operation soapAction="http://tempuri.org/IAdministradorCuenta/IniciarSesion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegistrarJugador">
      <soap12:operation soapAction="http://tempuri.org/IAdministradorCuenta/RegistrarJugador" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActivarCuentaJugador">
      <soap12:operation soapAction="http://tempuri.org/IAdministradorCuenta/ActivarCuentaJugador" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VerificarCuenta">
      <soap12:operation soapAction="http://tempuri.org/IAdministradorCuenta/VerificarCuenta" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnviarCorreo">
      <soap12:operation soapAction="http://tempuri.org/IAdministradorCuenta/EnviarCorreo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarPuntajesPropios">
      <soap12:operation soapAction="http://tempuri.org/IAdministradorCuenta/ConsultarPuntajesPropios" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarMejoresPuntajes">
      <soap12:operation soapAction="http://tempuri.org/IAdministradorCuenta/ConsultarMejoresPuntajes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicioCuenta">
    <wsdl:port name="NetTcpBinding_IAdministradorCuenta" binding="tns:NetTcpBinding_IAdministradorCuenta">
      <soap12:address location="net.tcp://192.168.43.212:8091/CalculatorService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://192.168.43.212:8091/CalculatorService</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>USUARIO-HP\Otros</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>