Cliente WPF/SerpientesEscaleras/Connected Services/ServidorJuegoSE/ServidorSerpientesEscaleras3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8081/ServidorSerpientesEscaleras?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MessageService" />
  <xs:import schemaLocation="http://localhost:8081/ServidorSerpientesEscaleras?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="IniciarSesion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MessageService" minOccurs="0" name="cuenta" nillable="true" type="q1:Cuenta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IniciarSesionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/MessageService" minOccurs="0" name="IniciarSesionResult" nillable="true" type="q2:Jugador" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistrarJugador">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/MessageService" minOccurs="0" name="jugador" nillable="true" type="q3:Jugador" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/MessageService" minOccurs="0" name="cuenta" nillable="true" type="q4:Cuenta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistrarJugadorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RegistrarJugadorResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActivarCuentaJugador">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/MessageService" minOccurs="0" name="cuenta" nillable="true" type="q5:Cuenta" />
        <xs:element minOccurs="0" name="codigo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActivarCuentaJugadorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ActivarCuentaJugadorResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerificarCuenta">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/MessageService" minOccurs="0" name="cuenta" nillable="true" type="q6:Cuenta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerificarCuentaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/MessageService" minOccurs="0" name="VerificarCuentaResult" nillable="true" type="q7:Cuenta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviarCorreo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/MessageService" minOccurs="0" name="cuenta" nillable="true" type="q8:Cuenta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviarCorreoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EnviarCorreoResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarPuntajesPropios">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/MessageService" minOccurs="0" name="jugador" nillable="true" type="q9:Jugador" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarPuntajesPropiosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/MessageService" minOccurs="0" name="ConsultarPuntajesPropiosResult" nillable="true" type="q10:ArrayOfFilaTablaPuntajes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarMejoresPuntajes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarMejoresPuntajesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/MessageService" minOccurs="0" name="ConsultarMejoresPuntajesResult" nillable="true" type="q11:ArrayOfFilaTablaPuntajes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearSala">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/MessageService" minOccurs="0" name="sala" nillable="true" type="q12:Sala" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearSalaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CrearSalaResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarSalasDisponibles">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarSalasDisponiblesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/MessageService" minOccurs="0" name="ConsultarSalasDisponiblesResult" nillable="true" type="q13:ArrayOfSala" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarJugadoresSala">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idSala" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarJugadoresSalaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ConsultarJugadoresSalaResult" nillable="true" type="q14:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnirseSala">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idSala" type="xs:int" />
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/MessageService" minOccurs="0" name="jugador" nillable="true" type="q15:Jugador" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidarSala">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idSala" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidarSalaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ValidarSalaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviarMensaje">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idSala" type="xs:int" />
        <xs:element minOccurs="0" name="mensaje" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SalirChat">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idSala" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IniciarJuego">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idSala" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnirseJuego">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idSala" type="xs:int" />
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/MessageService" minOccurs="0" name="jugador" nillable="true" type="q16:Jugador" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviarMensajeJuego">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idSala" type="xs:int" />
        <xs:element minOccurs="0" name="mensaje" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SalirJuego">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idSala" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AsignarFicha">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idSala" type="xs:int" />
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/MessageService" minOccurs="0" name="ficha" nillable="true" type="q17:Ficha" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecibirTiro">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idSala" type="xs:int" />
        <xs:element minOccurs="0" name="numDado" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CambiarPosicionFicha">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idSala" type="xs:int" />
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/MessageService" minOccurs="0" name="ficha" nillable="true" type="q18:Ficha" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CambiarPortales">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idSala" type="xs:int" />
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/MessageService" minOccurs="0" name="casillasRecibidas" nillable="true" type="q19:ArrayOfCasilla" />
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/MessageService" minOccurs="0" name="portalesRecibidos" nillable="true" type="q20:ArrayOfPortal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecibirMensajeLobby">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mensaje" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecibirMensajeMiembroLobby">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="entrada" type="xs:boolean" />
        <xs:element minOccurs="0" name="apodo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EntrarJuego">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/MessageService" minOccurs="0" name="casillas" nillable="true" type="q21:ArrayOfCasilla" />
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/MessageService" minOccurs="0" name="portales" nillable="true" type="q22:ArrayOfPortal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SolicitarCrearTablero">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RecibirMensaje">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mensaje" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecibirMensajeMiembro">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="entrada" type="xs:boolean" />
        <xs:element minOccurs="0" name="apodo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ElegirFicha">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="apodo" nillable="true" type="xs:string" />
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/MessageService" minOccurs="0" name="fichasEscogidas" nillable="true" type="q23:ArrayOfFicha" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MostrarFichaElegida">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/MessageService" minOccurs="0" name="ficha" nillable="true" type="q24:Ficha" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Tirar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="apodo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MostrarTiro">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/MessageService" minOccurs="0" name="ficha" nillable="true" type="q25:Ficha" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MostrarNuevosPortales">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/MessageService" minOccurs="0" name="portales" nillable="true" type="q26:ArrayOfPortal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MostrarGanador">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/MessageService" minOccurs="0" name="ficha" nillable="true" type="q27:Ficha" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>